@font-face {
    font-family: 'pt_monoregular';
    src: url('css/fonts/ptm55ft-webfont.eot');
    src: url('css/fonts/ptm55ft-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/ptm55ft-webfont.woff') format('woff'),
         url('css/fonts/ptm55ft-webfont.ttf') format('truetype'),
         url('css/fonts/ptm55ft-webfont.svg#pt_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html{
	color:#333;
	font-family:"Courier New", monospace;
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body{
	background: #eee;
}

img{
	max-width:100%;
}

a, a:visited {color:#333; text-decoration:none;}

.dates {
	height:30px;
}

.dates a{
	font-family:pt_monoregular;
	text-align:center;
	height:100%;
}
.release-date a{
	font-size:72px;
}
.dates a:hover{
	background:#0099cc;
	color:white;
	text-decoration:none;
}

.dates .y-77 {background:#ccc;}
.dates .y-62 {background:#bbb;}
.dates .y-56 {background:#aaa;}
.dates .y-92 {background:#999;}
.dates .y-52 {background:#888;}

.box {
	background-color:#ccc;
	height:100%;/*
	width:12.8245%; */
	padding:0;
	border-bottom: 15px solid #eee;
	border-right: 15px solid #eee;
	float:left;
}
.box:last-child{
}
.row .box-row{
	height:12.8245%;/*
	height:16.666%;*/
	margin-top:0;
}
.box-row .boxes {
	height:auto;
}
.player .boxes{
	height:360px;
}
.boxes-row .boxes{
	/* margin-bottom:-20.4%; *//* 15.5px is 3 rows */
}
.boxes-row{
	overflow:hidden;
	margin-bottom:0;
}
.bc-col{
	padding-right:0;
	margin-right:15px;
}
.player .boxes-left{
	padding-right:15px;
	margin-right:-15px;
}